.photo-scroller {
    width: 80%;
    margin: 0 auto;
}

/* .image-container {
    margin: 0 auto;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border-radius: 10%; */
/* }  */



@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

.image-container p {
    margin: 4% 0;
    font-family: 'Lato', sans-serif;
    line-height: 1.5;
}



.photo-card {
    padding: 0 4%;
    margin: 2%;
    border: 1px solid lightgray;
    box-shadow: 5px 5px 10px lightgray;
    /* border-radius: 5%; */
}